{% extends "_layout" %}

{% set related_artists = craft.entries.section('exhibition').relatedBy('Genre').limit(4) %}
{% block content %}
<div class="exhibition-container lazy">
  <div class="exhibition-hero">
    <p class="show-title large-text regular-medium">{{ entry.exhibitionTitle }}</p>
    {% if entry.groupShow == "0" %}
      {% set links = craft.entries.section('artistHome').relatedTo(entry.artistname.first().category.first()).find(1) %}
      {% if links|length > 0 %}
        {% for entry in links[:1] %}
          <a href="{{ entry.url()}}"><p class="artist-name purple large-text regular-medium">{{ entry.artistname.first().category.first().title }}</p></a>
        {% endfor %}
      {% else %}
        <p class="artist-name large-text purple regular-medium">{{ entry.artistname.first().category.first().title }}</p>
      {% endif %}
    {% else %}
      <p class="artist-name large-text purple regular-medium">Group Show</p>
    {% endif %}
    <p class="on-view gray-text med-text regular-medium">
      {% if entry.onView.year != entry.endDate.year %}
        {{ entry.onView|date("M Y")}} – {{ entry.endDate|date("M Y") }}
      {% else %}
        {{ entry.onView|date("M d")}} – {{ entry.endDate|date("M d, Y") }}
      {% endif %}
    </p>
  </div>

  {% include "snippets/_hero-img" with { slideData: entry.exhibitionSlideshow } %}

  <div class="artist-col-c">
    <div class="col-wrapper" style="position:relative; overflow:hidden; width: 100%;" >
    {% include "snippets/_expand-panel" with { entry: entry, page:"exhibition" } %}
      <div class="col-left">
        {% include "snippets/_small-slideshow" with { slideData: entry.exhibitionSlideshow } %}
        {% if entry.videoEmbedLink|length %}
          {% include "snippets/_video-embedd" with { embeddLink: entry.videoEmbedLink } %}
          </div>
        {% else %}
          </div>
        {% endif %}
        {% if entry.secondarySlideshow|length > 0 %}
          </div>
          {% if craft.detect.isMobile %}
            {% include "snippets/_small-slideshow" with { slideData: entry.secondarySlideshow } %}
          {% else %}
            {% include "snippets/_preview-slideshow" with { slideData: entry.secondarySlideshow } %}
          {% endif %}
        {% else %}
          </div>
        {% endif %}
    </div>
  <div class="related-artist-c lazy">
    <p class="ra-header regular-medium large-text">Other Gallery Exhibitions</p>
    <div class="grid-row">
      {% set related_artists = entry.relatedExhibitions.curatedBlock.first().relevantExhibitions %}
      {% for item in related_artists %}
      <div class="grid-item-c">
        <div class="grid-tb-c">
          {% set myImage = item.thumbnail.first().getUrl() ?? item.exhibitionSlideshow.slide.first(). slideshowImage.first().getUrl() ?? null %}
          <a href="{{ item.url() }}"><div class="thumb-img" style="background-image:url('{{ myImage }}');"></div></a>
        </div>
          <div class="grid-detail-c">
            <a href="{{ item.url() }}"><p class="exh-title mid-text regular-medium">{{ item.exhibitionTitle }}</p></a>
            {% set links = craft.entries.section('artistHome').relatedTo(item.artistname.first().category.first()).find(1) %}
            {% if links|length > 0 %}
              {% for entry in links[:1] %}
                <a href="{{ entry.url()}}"><p class="artist-name mid-text purple regular-semibold">{{ entry.artistname.first().category.first().title }}</p></a>
              {% endfor %}
            {% else %}
              <p class="artist-name mid-text purple regular-semibold">{{ item.artistname.first().category.first().title }}</p>
            {% endif %}
            <p class="onview med-text regular-medium gray-text" >
              {% if item.onView.year != item.endDate.year %}
                {{ item.onView|date("M Y")}} – {{ item.endDate|date("M Y") }}
              {% else %}
                {{ item.onView|date("M d")}} – {{ item.endDate|date("M d, Y") }}
              {% endif %}
            </p>
          </div>
      </div>
      {% endfor %}
      <div class="btn-wrapper"><a href="{{ siteUrl }}index.php/past_exhibitions"><div class="see-all-btn"><p class="btn-text small-text regular-medium">See All Past Exhibitions</p><img class="arrow" src="{{ siteUrl }}/src/images/arrow.svg"></div></a></div>
    </div>
  </div>
</div>
{% endblock %}

