{% block exhibitions %}
<div class="exhibitions-c lazy unloaded">
  <div class="row">
    <div class="feat-col">
      <p class="col-title large-text regular-medium">{{ leftFeature.header }}</p>
      <div class="exhibition-slideshow-c">
        <div class="slide-container">
          <div class="img-slide-c">
            {% set myImage = leftFeature.featured.first().exhibitionSlideshow.slide.first().slideshowImage.first().getUrl ?? null %}
            <a href="{{ leftFeature.featured.first().url() }}"><div class="slide-img" style="background-image:url('{{ myImage }}');"></div></a>
          </div>
        </div>
      </div>
      <div class="center-container">
        {% if leftFeature.featured.first().groupShow == "0" %}
        {% set links = craft.entries.section('artistHome').relatedTo(leftFeature.featured.first().artistname.first().category.first()).find(1) %}
        {% if links|length > 0 %}
            {% for entry in links %}
              <a href="{{ entry.url()}}"><p class="artist-name large-text regular-medium">{{ leftFeature.featured.first().artistname.first().category.first().title }}</p></a>
            {% endfor %}
          {% else %}
            <p class="artist-name large-text regular-medium">{{ leftFeature.featured.first().artistname.first().category.first().title }}</p>
          {% endif %}
		{% else %}
			<p class="artist-name mid-text purple regular-semibold">Group Show</p>
		{% endif %}
        <a href="{{ leftFeature.featured.first().url() }}"><p class="exh-title large-text regular-medium">{{ leftFeature.featured.first().exhibitionTitle }}</p></a>
        <p class="on-view med-text regular-medium">{% if "now"|date('Y-m-d') < leftFeature.featured.first().endDate|date('Y-m-d') %}On view starting {% endif %}{{ leftFeature.featured.first().endDate| date("M d, Y") }}</p>
      </div>
    </div>
    <div class="feat-col">
      <p class="col-title large-text regular-medium">{{ rightFeature.header }}</p>
      <div class="exhibition-slideshow-c">
        <div class="slide-container">
          <div class="img-slide-c">
            {% set myImage = rightFeature.featured.first().exhibitionSlideshow.slide.first().slideshowImage.first().getUrl ?? null %}
            <a href="{{ rightFeature.featured.first().url() }}"><div class="slide-img" style="background-image:url('{{ myImage }}');"></div></a>
          </div>
        </div>
      </div>
      <div class="center-container">
        {% if rightFeature.featured.first().groupShow == "0" %}
        {% set links = craft.entries.section('artistHome').relatedTo(rightFeature.featured.first().artistname.first().category.first()).find(1) %}
        {% if links|length > 0 %}
            {% for entry in links %}
              <a href="{{ entry.url()}}"><p class="artist-name large-text regular-medium">{{ rightFeature.featured.first().artistname.first().category.first().title }}</p></a>
            {% endfor %}
          {% else %}
            <p class="artist-name large-text regular-medium">{{ rightFeature.featured.first().artistname.first().category.first().title }}</p>
          {% endif %}
		{% else %}
			<p class="artist-name mid-text purple regular-semibold">Group Show</p>
		{% endif %}
        <a href="{{ rightFeature.featured.first().url() }}"><p class="exh-title large-text regular-medium">{{ rightFeature.featured.first().exhibitionTitle }}</p></a>
        <p class="on-view med-text regular-medium">
          {% if entry.heroExhibition.first().onView.year != entry.heroExhibition.first().endDate.year %}
            {{ entry.heroExhibition.onView|date("M Y")}} – {{ entry.heroExhibition.first().endDate|date("M Y") }}
          {% else %}
            {{ entry.heroExhibition.first().onView|date("M d")}} – {{ entry.heroExhibition.first().endDate|date("M d, Y") }}
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

